.paraStrong {
  color: #CCCCCC;
  font-weight: 600;
  font-size: 16px;
}

.paraLight {
  color: #6F6F6F;
  font-size: 16px;
}

.paraEmoji {
  font-size: 24px;
  margin: 0px 8px 0px 0px;  
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.header {
  width: auto;
}

.header p {
  text-align: center;
}

.topnav {
  display: flex;
  justify-content: center;
  padding: 25px;
  align-items: center;
}


.navlogo, .navlinks a {
  font-weight: 500;
  font-weight: bold;
  color: #fff;
}

.navlogo {
  align-self: center;
  /* height: 00px; */
  /* width: 125px; */
  /* font-size: 1.25rem;
  margin-left: 1rem; */
}

.navlinks {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apptitle {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.appdescription {
  font-size: 1.1rem;
  margin: 1rem;
}

.link {
  font-weight: 500;
}

.cloudform {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* background: #141414; */
}

.textarea {
  position: relative;
  height: 40px;
  /* display: flex; */
  /* flex-direction: row;
  justify-content: space-between; */
  /* resize: none; */
  font-size: 16px;
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #4F4F4F;
  color: #CCCCCC;
  background-color: transparent;
}

.textarea:focus {
  outline: none;
  border: 1px solid;
  border-radius: 16px;
  border-color: #1F125D;
}

.textarea:active {
  border: 1px solid;
  border-radius: 16px;
  border-color: #1F125D;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: #5f6368;
}

.generatebutton {
  position: absolute;
  top: 8px;
  right:16px;
  color: rgb(165, 162, 162);
  background: none;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
  fill: #CCCCCC;
}

.generatebutton:hover {
  background: #232e3e;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  display: flex;
  flex-direction: column;
  counter-increment: div;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  background: #1D1D21;
  border-radius: 16px;
  padding: 1rem;
  color: #CCCCCC;
}

.usermessagewaiting{
  padding: 1.5rem;
  color: #ECECF1;
  /* background: linear-gradient(to left, #070809, #1a1c20, #070809); */
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.chatMessageWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  animation: fadein 0.5s;
  padding: 18px 0rem;
}

.chatMessageWrap:nth-child(odd) {
  justify-content: left;
}

.chatMessageWrap:nth-child(even) {
  justify-content: right;
}

.apimessage {
  width: 90%;
  font-size: 16px;
  line-height: 150%;
  position: relative;
  background: #1D1D21;
  padding: 1rem;
  color: #CCCCCC;
  background-image: linear-gradient(90deg, #1D1D21, #1D1D21), linear-gradient(90deg, #E47777, #864F62, #9487D0);
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border-radius: 16px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.apimessage, .usermessage, .usermessagewaiting {
  display: flex;
  align-items: center;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #E12727;
  font-weight: 800;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol, .markdownanswer ul {
  margin: 1rem;
}

.boticon {
  margin-right: 16px;
}

.usericon {
  margin-left: 16px;
  order: 2;
}

.markdownanswer h1, .markdownanswer h2, .markdownanswer h3 {
  font-size: inherit;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.cloudLeft {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 75vh;
  border-radius: 16px;
  padding: 16px 24px;
  margin: 0 24px 0 0;
  background: #212121;
}

.cloudLeftTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

.cloudLeftContent {
  margin: 20px 0px;
}

.cloud {
  width: 75vw;
  height: 75vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(20, 12, 60, 0.75) 0%, rgba(20, 20, 20, 0.75) 100%);;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 18px;
  overflow-y: scroll;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 600px) {

  .main {
    padding: 1rem;
    flex-direction: column;
  }

  .cloudLeft {
    order: 2;
    width: 100%;
    margin: 0px;
    height: auto;
  }

  .cloud {
    width: 100%;
    height: 80vh;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

.markdownanswer code {
  white-space : pre-wrap !important;
}

.footer {
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

